body { background: #a6a5b2 }

h2,h3 {font-family: Montserrat; }
p {font-size: 5}
p2 {font-size: 4}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}


p1 {
    font-family: "Times New Roman", Georgia, Serif;
}

